@font-face {
    font-family: "GrinchedRegular";
    src: url("Assets/Fonts/GrinchedRegular.woff2") format("woff2")
}

.card-forward {
    z-index: +1;;


}









* {
    box-sizing: border-box; 
}

body {
    background-color: #b81111;
    margin: 0;

}

html {
    min-height: 100vh;
}

.heading {
    color: #32e300;
    font-weight: normal;
    font-family: GrinchedRegular, Arial;
    text-align: center;
    font-size: 10em;
}

.memory-card {
    background-color: #03a9f4;
    height: 175px;
    width: 125px;
    border-radius: 25px;
    border-color: #32e300;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
}
.card-container {

display: grid; 
grid-template-columns: repeat(4, auto);
grid-gap: 10px; 
margin: 50px auto;
justify-content: center;
perspective: 500px;

}

.grinched-info {
     color: #32e300;
    font-weight: normal;
    font-family: GrinchedRegular, Arial;
    
    font-size: 5em;
    
}

.memory-card-info {
    
     
     grid-column: 1 / -1;
     display: flex;
     justify-content: space-between;
}

.card-photo {
    height: 8rem;
    width: 8rem;
    
    
}

.card-feature {
    position: flex;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    backface-visibility: hidden;
    
}

.card-forward {
    transform: rotateX(180deg);
    transition: transform 400ms ease-in-out;

}

.card-reverse {
    transform: rotateX(0);
   
}




.memory-card:hover .card-reverse {
transform: rotateY(-180deg);
position: absolute;
}

.memory-card:hover .card-forward {
transform: rotateY(0);
position: absolute;
}

.card-forward {
    background-color: yellow;
}

.card-revrese {
    background-color: #03a9f4;
}
